 * { margin: 0; padding: 0; list-style: none; box-sizing: border-box;}  /* Clear initial styles and set border box */

.container {
    background-image: url('img/splash-barbershop.png');
    height: 1080px;
}

.header-nav {
    background-color: black;
    color: white;
    padding: .625rem;
    font-size: 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.header-nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header-nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0rem .9375rem;
}

.about {
    text-align: center;
    padding: 1rem 18rem;
}
.about p {
    padding: .5rem 0;
}